html {
  height: 100%;
  width: 100%;
}



header {
  margin: 0 auto;
  font-family: 'Antic Slab', serif;
  /*padding: 0 1em 1em 1em;*/
  overflow: hidden;
}

.site-header {
  text-align: center;

}

.navbar {
  margin: 0;
  padding: 0;
  background-color: #ecf0f1;
  overflow: hidden;
  margin-bottom: 2em;

}

.profile {
  display: block;

  width: 200px;
  height: 200px;
  margin: 0 auto;

  border-radius: 50%;
}

h1{
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  font-size: 5em;
}

h2{
  margin-top: 5em;
  font-family: 'Antic Slab', serif;
  text-align: center;
  font-size: 1.5em;
}


p{
  text-align: left;
}


.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input.lime-border {
  border: 1px solid #cddc39;
}

strong{
  color: white;
  text-align: center;
  font-size: 1.5em;
}



/*.form-control {
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}*/
.btn {padding: .375rem .75rem; margin-top:10px;}

