<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home &mdash; Danial Hussain </title>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>

    <!-- Ajax -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!--Bootstrap and JQuery-->
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/mdb.min.css">

    <!--Font-->
    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&family=PT+Sans:wght@700&display=swap" rel="stylesheet">


  </head>

  <header>

    <nav class="navbar navbar-expand-lg navbar-light">
        <h1 class="navbar-brand" href="#">WholeFoods Analytics</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('cart')}}">Your Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('viz')}}">Data Visualizations</a>
            </li>
          </ul>
          <span class="navbar-text">
           Introducing a healthier way to shop
          </span>
        </div>
    </nav>

    <!-- Shopping Cart -->
    {% if cart != [] %}
      <div class="row" style="margin-top: 30px; margin-bottom: 40px;">
        <div class="col-md-4 offset-md-4">
          <h1 style="margin-bottom: 10px;"><u>Your Cart</u></h1>
          {% for item in cart %}
          <div class="d-flex justify-content-center">
            <ul class="list-group">
              <li class="list-group-item disabled">{{item}}
              </li>
            </ul>
          </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}


    <!--  -->
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <div class="card">
          <div class="card-header">
            <h2>Total Calories</h2>
          </div>
          <div class="card-body">
            <h2>{{tot_cal}}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-header">
            <h2>Total Fat</h2>
          </div>
          <div class="card-body">
            <h2>{{tot_fat}} grams</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-header">
            <h2>Total Carbohydrates</h2>
          </div>
          <div class="card-body">
            <h2>{{tot_carb}} grams</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-header">
            <h2>Total Protein</h2>
          </div>
          <div class="card-body">
            <h2>{{tot_prot}} grams</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-header">
            <h2>Total Cholesterol</h2>
          </div>
          <div class="card-body">
            <h2>{{tot_chol}} milligrams</h2>
          </div>
        </div>
      </div>
    </div>

    <!-- Bar charts -->
    {% if bars != [] %}
    <div class="row">
      {% for bar in bars %}
      <div class="col-md-6 d-flex justify-content-center">
        <img src= "{{bar}}">
      </div>
      {% endfor %}
    </div>
    {% endif %}

</header>




</html>

