<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home &mdash; Danial Hussain </title>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>

    <!-- Ajax -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!--Bootstrap and JQuery-->
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/mdb.min.css">

    <!--Font-->
    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&family=PT+Sans:wght@700&display=swap" rel="stylesheet">


  </head>


<header>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <h1 class="navbar-brand" href="#">WholeFoods Analytics</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('cart')}}">Your Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('viz')}}">Data Visualizations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('about')}}">About <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <span class="navbar-text">
           Introducing a healthier way to shop
          </span>
        </div>
    </nav>

  <!-- Top Introduction -->
  <div class = "h-100 row align-items-center">
    <div class = "col-md-6 offset-md-3">
      <h1>WholeFoods Analytics</h1>
      <h2>Introducing a healthier way to shop</h2>
      <p>This application allows you to visualize your grocery basket in order to make healthier purchasing decisions. Start by searching for a product and adding it to your cart. Then you can see your total calories, carbohydrates, fat, protein and cholesterol. After setting up your cart you can transition your order to amazon or convert your order to a word document to take to WholeFoods!</p>
      <p>Enter a product name in the text box and choose from the options available before hitting search. The product will appear and you will have the choice on whether to add it to your cart. Once you've added all the products, navigate to "Your Cart" to visualize the nutrition information for your basket.</p>
      <strong style="color: black; font-size: 1em; font-weight: bold;">Example: Ketchup</strong>
    </div>
  </div>
  


  <!-- Search Bar -->
  <div class = "row">
    <div class= 'col-md-6 offset-md-3'>
      <div class="input-group md-form form-sm form-2 pl-0">
        <form class="form-inline">
          <div class="form-group">
            {{form.name(class="form-control")}}
          </div>
          <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit" data-toggle="modal" data-target="#exampleModal">Search</button>
        </form>
      <div class="input-group-append">
      </div>
      </div>
    </div>
  </div>


<!-- Script for taking search bar input and showing modal -->
<script>
$(document).ready(function(){
 var names=[];
 function loadNames(){
  $.getJSON('/products', function(data, status, xhr){
   for (var i = 0; i < data.length; i++ ) {
    names.push(data[i].name);
   }
 });
 };
 loadNames();
 
 $('#name').autocomplete({
  source: names, 
 }); 
 
 $('form').on('submit', function(e){
  $.ajax({
   data: {
    name:$('#name').val()
   },
   type: 'POST',
   url : '/process'
  })
  .done(function(data){ 
   if (data.name == "ERROR"){
    $('#error').text("Invalid choice, please select a product from the dropdown and then press search").show();
    $('#productValid').hide()
   }
   else {
    $('#error').hide()
    $("#productValid").show();
    $('#pname').html(data.name).show()

    if (data.serving == "None"){
      $('#serving').hide()
    }
    else{
      $('#serving').html(data.serving).show()
    }

    if (data.calories == "None"){
      $('#tot_cal').hide()
    }
    else{
      $('#tot_cal').html(data.calories).show()
    }

    if (data.fat == "None"){
      $('#tot_fat').hide()
    }
    else{
      $('#tot_fat').html(data.fat + " grams").show()
    }

    if (data.carbohydrates == "None"){
      $('#tot_carb').hide()
    }
    else{
      $('#tot_carb').html(data.carbohydrates + " grams").show()
    }

    if (data.protein == "None"){
      $('#tot_prot').hide()
    }
    else{
      $('#tot_prot').html(data.protein + " grams").show()
    }

    if (data.cholesterol == "None"){
      $('#tot_chol').hide()
    }
    else{
      $('#tot_chol').html(data.cholesterol + " miligrams").show()
    }

   }
  })
  e.preventDefault();
 });
}); 
</script>


 <!-- Product Card Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop='static' data-keyboard = "false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="error"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body">
        <div class="card" id="productValid">
               <h3 class="card-header #00897b teal darken-1 lighten-1 white-text text-uppercase font-weight-bold text-center py-3" style="font-family: 'PT Sans', sans-serif;" id="pname">Product Name</h3>
               <div class="card-body">
                  <ul class="list-group">
                     <li class="list-group-item d-flex justify-content-between align-items-center" style="font-weight: bold;">
                        Serving Size
                        <span class="badge badge-success badge-pill" id="serving">{{selected_product.serving}}</span>
                     </li>
                     <li class="list-group-item d-flex justify-content-between align-items-center" style="font-weight: bold;">
                        Total Calories
                        <span class="badge badge-success badge-pill" id="tot_cal">{{selected_product.calories}}</span>
                     </li>
                     <li class="list-group-item d-flex justify-content-between align-items-center" style="font-weight: bold;">
                        Total Fat
                        <span class="badge badge-success badge-pill" id="tot_fat">{{selected_product.fat}} grams</span>
                     </li>
                     <li class="list-group-item d-flex justify-content-between align-items-center" style="font-weight: bold;">
                        Total Carbohydrates
                        <span class="badge badge-success badge-pill" id="tot_carb">{{selected_product.carbohydrates}} grams</span>
                     </li>
                     <li class="list-group-item d-flex justify-content-between align-items-center" style="font-weight: bold;">
                        Total Protein
                        <span class="badge badge-success badge-pill" id="tot_prot">{{selected_product.protein}} grams</span>
                     </li>
                     <li class="list-group-item d-flex justify-content-between align-items-center" style="font-weight: bold;">
                        Total Cholesterol
                        <span class="badge badge-success badge-pill" id="tot_chol">{{selected_product.cholesterol}} miligrams</span>
                     </li>
                  </ul>
                  <form action="/submit" method="post" id="addToCart">
                    <input type="submit" name="submit_button" class="btn btn-outline-black btn-md waves-effect" value="Add to Cart" id="product_submitted"/>
                  </form>
                  <button type="button" class="btn btn-outline-black btn-md waves-effect" data-dismiss="modal">Close</button>
               </div>
            </div>
      </div>
      <div class="modal-footer">
        <div class="alert alert-success" id="product_success"></div>
        <div class="alert alert-danger" id="product_failure"></div>
      </div>
    </div>
  </div>
</div>


<script>
  $(function(){
    $('#addToCart').on('submit', function(e){
      $.post('/submit', 
         {pname: $('#pname').html()}, 
         function(data, status, xhr){
          if (data.message == 'success'){
            $("#product_success").html("Product added successfully!").show().delay(1500).fadeOut();
            $("#product_failure").show().delay(3000).fadeOut();
          }
          else{
            $("#product_failure").html("Product failed to add!").show().delay(3000).fadeOut();
            $("#product_success").show().delay(3000).fadeOut()
          }

         });
    });
  });
</script>

</header>



</html>